@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* ==================== INITIALIZE ====================*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nabla', cursive; */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    color: var(--color-white);
    background-color: var(--color-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    transition: all 0.2s;
}


/* ==================== CSS VARIABLES ====================*/

:root {
    --color-white: #f1f1f1;
    --color-light: #c1c1c1;
    --color-accent: #ffc400;
    --color-accent-alpha: #ffc40077;
    --color-black-alpha: rgba(0, 0, 0, 0.7);
    --color-bg: #151000;
    --color-gray: #383838;
    --transition: all 0.7s;
}

/* ==================== BACKGROUND IMAGE BLUR ====================*/

.background-page {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: blur(10px) brightness(25%);
    mask-image: linear-gradient(180deg, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(180deg, black 50%, transparent 100%);
    background-image: url('assets/img/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.03) translateY(-10.2px);
}


/* ==================== NAV ====================*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav-bar .content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: calc(1242px);
    margin: 0 auto;
}

.nav-bar .content .socials{
    font-size: 18px;
    list-style: none;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 0;
    width: 50px;
    text-align: center;
    margin-right: 1.2rem;
}

.nav-bar .content .socials li {
    margin: 1rem 0.5rem;
}

.nav-bar .content .socials a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-white);
}

.nav-bar .content .socials a:hover {
    color: var(--color-accent);
}

.nav-bar .content button {
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: var(--color-white);
}

/* ==================== NAV TOGGLED ====================*/

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#navigation .navigation-container {
    pointer-events: initial;
    height: 100%;
    width: 420px;
    max-width: 100%;
    background: var(--color-black-alpha);
    backdrop-filter: blur(5px);
    overflow: hidden;
    top: 0;
    left: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: transform 0.25s;
}

#menu-toggle:hover {
    color: var(--color-accent);
}

body.nav-active #navigation .navigation-container {
    transform: translateX(-100%);
}

#navigation .navigation-container .top {
    flex-shrink: 0;
    padding: 2rem;
}

#navigation .navigation-container .top h4 {
    font-size: 30px;
    display: inline;
    margin-left: 10px;
}

#navigation .navigation-container .top a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    
}

#close-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 28px;
    background-color: transparent;
    color: var(--color-white);
    border: none;
    outline: none;
}

#navigation .navigation-container .scroller {
    flex-shrink: 1;
    overflow: auto;
    padding: 2rem;
    flex-basis: 100%;
    margin-right: 2rem;
}

#navigation .navigation-container .scroller > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation .navigation-container .scroller > ul > li {
    margin-bottom: 1.5rem;
    display: list-item;
}


#navigation .navigation-container .scroller > ul > li > a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 1px;;
}

#navigation .navigation-container .scroller > ul > li.has-submenu > a:after {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f054";
    margin-left: 1rem;
    font-size: 10px;
    position: relative;
    top: -2px;
}

#navigation .navigation-container .scroller > ul > li.active > a:after {
    content: "\f077";
}

#navigation .navigation-container .scroller > ul > li.active > ul {
    display: block;
}

#navigation .navigation-container .scroller > ul > li > ul {
    margin: 0 0 0 1rem;
    list-style: none;
    padding: 1rem 0 0;
    font-size: 14px;
    border-color: transparent;
    display: none;
}

#navigation .navigation-container .scroller > ul > li > ul > li {
    margin-bottom: 1rem;
}

#navigation .navigation-container .scroller > ul > li > ul > li a {
    color: var(--color-light);
    line-height: 1;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

#navigation .navigation-container .scroller > ul > li > a:hover,
#navigation .navigation-container .scroller > ul > li > ul > li a:hover,
.list-social a:hover {
    color: white;
}

#navigation .navigation-container .bottom {
    flex-shrink: 0;
    padding: 2rem;
}

.list-icon {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.bottom .list-social a {
    color: var(--color-white);
    transition: var(--transition);
}

.bottom .list-social li a:hover {
    color: var(--color-accent);
}

.list-social li {
    margin-right: 0.5em;
}
.list-inline li {
    display: inline-block;
}

.list-plain {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.75;
    font-size: 14px;
}

.mt-medium {
    margin-top: 2rem;
}

#navigation .user-menu {
    font-size: 16px;
}

#navigation .user-menu .btn {
    font-weight: 400;
    color: var(--color-white);
    background: transparent;
    border: solid 1px var(--color-white);
    border-radius: 0;
    padding: 0.5rem 1.5rem;
    transition: color 100ms linear, background-color 100ms linear, border-color 100ms linear;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
    transition: var(--transition);
}

#navigation .user-menu .btn:hover {
    background-color: var(--color-white);
    color: var(--color-bg);
}

#navigation .user-menu .sign-up {
    color: var(--color-white);
    text-decoration: none;
    letter-spacing: 0.1em;
    margin-left: 0.5rem;

}

.ml-xsmall {
    margin-left: 0.5rem;
}

/* ==================== MAIN CONTENT ====================*/
.content {
    font-size: 14px;
    color: var(--color-white);
    font-weight: 400;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 16px;
}

.content .album-cover {
    display: block;
    margin-bottom: 5rem;
    margin-top: 6rem;
    padding-top: 5rem;
}

.content .album-cover .grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 3rem;
} 

.content .album-cover .grid-container .grid-img {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    grid-column: 1/3;
    transform-style: preserve-3d;
}


.content .album-cover .grid-container .grid-img .vertical-text {
    font-style: italic;
    position: absolute;
    bottom: 0;
    writing-mode: vertical-lr;
    left: -5px;
    font-size: 18px;
    font-weight: 300;
    transform: translateZ(50px) rotate(180deg);
}

.content .album-cover .grid-container .grid-img .vertical-text span {
    color: var(--color-accent);
    font-weight: 600;
}

.content .album-cover .grid-container .grid-img img {
    vertical-align: bottom;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    width: 400px;
}

.content .album-cover .grid-container .grid-img .img-hover {
    position: absolute;
    top: 0;
    left: 1.5rem;
    transform: translateZ(25px);
}

.content .album-cover .grid-container .grid-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 3/6;
 }

 .content .album-cover .grid-container .grid-content h1 {
    font-family: 'Nabla', cursive;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: var(--color-accent) 1px 0 10px;
 }

 .content .album-cover .grid-container .grid-content p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
 }

 .content .album-cover .grid-container .grid-content .buttons {
    margin-top: 2rem;
    cursor: pointer;
 }

 .content .album-cover .grid-container .grid-content .buttons .listen-btn {
    vertical-align: top;
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 1.5em;
    padding: 1.6rem 1.8rem;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px solid var(--color-accent);
    font-weight: 600;
    transition: var(--transition);
    box-shadow: 0 0 2rem 1px var(--color-accent);
 }

 .content .album-cover .grid-container .grid-content .buttons .listen-btn i,
 .content .album-cover .grid-container .grid-content .buttons .share-btn i  {
    margin-right: 0.5rem;
 } 

 .content .album-cover .grid-container .grid-content .buttons .share-btn {
    text-decoration: none;
    font-weight: 600;
    vertical-align: top;
    margin-left: 0.25rem;
    font-size: 1.5em;
    height: 25px;
    padding: 1.6rem 1.8rem;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: var(--transition);
 }

 .content .album-cover .grid-container .grid-content .buttons .listen-btn:hover,
 .content .album-cover .grid-container .grid-content .buttons .share-btn:hover {
    background-color: var(--color-white);
    color: var(--color-bg);
    box-shadow: 0 0 2rem 1px var(--color-white);
    border: 1px solid var(--color-white);
 } 

 /* ==================== STREAM SECTION ====================*/

 .stream {
    margin-bottom: 3rem;
 }

 .stream h2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 3em;
    margin-bottom: 1rem;
 }

 .stream .links {
    font-size: 22px;
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid  var(--color-white);
 }

 .stream .links .link {
    border-right: 1px solid var(--color-white);
    padding: 1rem;
    text-align: center;
 }

 .stream .links .link:last-of-type {
    border-right: none;
 }
 
 .stream .links .link a {
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
 }

 .stream .links .link:hover {
    /* background-color: var(--color-accent); */
    box-shadow: 0 0 1rem 1px var(--color-accent-alpha),
                0 0 4rem 1px var(--color-accent-alpha),
                inset 0 0 1rem 1px var(--color-accent-alpha);
 }
 .stream .links .link:hover a i{
    color: var(--color-accent);
 }

 .stream .links .link a i {
    margin-bottom: 0.5rem;
 }

 .stream .links .link span {
    font-size: 10px;
 }

 /* ==================== TRACKLIST ====================*/
.tracklist {
    margin-bottom: 3rem;
}

.tracklist h2 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.tracklist table {
    font-size: 18px;
    width: 100%;
    border-collapse: collapse;
}

.tracklist table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.tracklist table tbody tr .number {
    padding: 1rem 0.5rem;
}

.tracklist table tbody tr .song-title {
    padding: 0.7rem 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.tracklist table tbody tr .song-title .play-btn {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 1rem;
    display: inline-block;
    width: 35px;
    text-align: center;
    color: var(--color-white);
    padding-bottom: 10px;
    cursor: pointer;
}

.tracklist table tbody tr .song-title .play-btn:hover {
    color:var(--color-accent);
    text-shadow: var(--color-accent) 1px 0 50px,
    var(--color-accent) 1px 0 10px;

}


.tracklist table tbody tr .song-title .title {
    display: inline-flex;
    flex-direction: column;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.tracklist table tbody tr .song-title .title span {
    display: block;
    font-size: 0.7em;
}

.tracklist table tbody tr .song-time {
    width: fit-content;
    padding: 1rem 0.5;
    text-align: center;
    font-weight: 300;
}

.tracklist table tbody tr .share {
    width: fit-content;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.tracklist table tbody tr .share  i {
    color: var(--color-white);
}

/* ==================== MUSIC VIDEO ====================*/
.video {
    margin-bottom: 3rem;
}

.video h2 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 3em;
    font-weight: 400;
    font-weight: 600;
}

.video .box-video {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    position: relative;
}

.video .box-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ==================== SCROLL BAR ====================*/

::-webkit-scrollbar-track {
    background: rgba(19, 17, 18, 0.3);
    border: 0;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #131112;
}

::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border: 0;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #F1F1F1;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}